body {
    width: 640px;
    margin: 0 auto;
    padding-top: 42px;
}

#ctrls {
    padding: 20px;
    width: 50%;
}

#ctrls label {
    width: 20%;
    display: block;
    float: left;
    clear: left;
}
#ctrls input{
    display: block;
    float: left;
    clear: right;
}
