.entry,.result,.status {
    float: left;
    border: 1px solid black;
    margin: 2%;
    padding: 3%;

}

.entry {
    width: 45%;
}

.status {
    width: 29%;
}

.object {
    float: left;
    clear: both;
}

.string, .freq{ 
    float: left;
}

.string {
    color: #000;
    font-size: 27px;
    line-height: 42px;
}
.freq {
    color: #aaa;
    font-size: 12px;
    line-height: 42px;
    font-style: italic;
    float: right;
    margin-left: 5px;
}
